body{

background:#020617;
color:white;
font-family:Arial;
text-align:center;

}

h1{

color:#22c55e;

}

button{

padding:15px 30px;
font-size:18px;
background:#22c55e;
border:none;
cursor:pointer;

}

.panel{

margin-top:40px;
font-size:24px;

}
